modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-9b4ceee8-ca03-47ca-a6f5-dcb82e0557e1"

[userenv]

[userenv.shared]
DEFAULT_OBJECT_STORAGE_BUCKET_ID = "replit-objstore-d446f8aa-48c2-473e-839c-152e50235866"
LOG_LEVEL = "info"
PRIVATE_OBJECT_DIR = "private"
PUBLIC_OBJECT_SEARCH_PATHS = "public"
